In [2]:
import json
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('./data/olympics.csv')

In [4]:
data

,Year,City,Sport,Discipline,Athlete,Country Code,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,France,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,France,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,France,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,France,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Switzerland,Men,Military Patrol,Gold
...,...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,United Kingdom,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,United States,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Canada,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Czech Republic,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,France,Women,Snowboard Cross,Bronze

### Process for map visualization

In [5]:
for_map = data.groupby(['Country', 'Country Code']).size().reset_index(name='total')

In [6]:
for_map.rename(columns={"Country": "name", "Country Code": "code", "total":"pop"}, inplace=True)

In [7]:
for_map.to_csv("for_map.csv", index=False)

### Process for stacked bar chart

In [8]:
total_count_df = data.groupby(['Country', 'Sport']).size().reset_index(name='total')

In [11]:
total_count_df

          Country       Sport  total
0       Australia     Skating      5
1       Australia      Skiing     10
2         Austria    Biathlon     11
3         Austria   Bobsleigh     13
4         Austria        Luge     27
..            ...         ...    ...
135  West Germany  Ice Hockey     18
136  West Germany        Luge     14
137  West Germany     Skating      8
138  West Germany      Skiing     18
139    Yugoslavia      Skiing      7

[140 rows x 3 columns]

In [9]:
country_list = ['Canada','United States','Norway','Finland','Sweden','Germany','Switzerland']

In [10]:
top_6_mask = total_count_df.Country.isin(country_list)

In [12]:
top_6 = total_count_df[top_6_mask]

In [13]:
top_6

           Country       Sport  total
15          Canada    Biathlon      3
16          Canada   Bobsleigh     22
17          Canada     Curling     50
18          Canada  Ice Hockey    351
19          Canada     Skating    159
20          Canada      Skiing     40
40         Finland    Biathlon     16
41         Finland     Curling      5
42         Finland  Ice Hockey    181
43         Finland     Skating     26
44         Finland      Skiing    206
50         Germany    Biathlon     80
51         Germany   Bobsleigh     66
52         Germany  Ice Hockey     10
53         Germany        Luge     42
54         Germany     Skating     54
55         Germany      Skiing    108
76          Norway    Biathlon     62
77          Norway     Curling     15
78          Norway     Skating     83
79          Norway      Skiing    297
101         Sweden    Biathlon     16
102         Sweden     Curling     33
103         Sweden  Ice Hockey    218
104         Sweden     Skating     20
105         Sweden      Skiing    146
106    Switzerland    Biathlon      5
107    Switzerland   Bobsleigh    101
108    Switzerland     Curling     25
109    Switzerland  Ice Hockey     50
110    Switzerland     Skating      3
111    Switzerland      Skiing    101
123  United States   Bobsleigh     93
124  United States     Curling      5
125  United States  Ice Hockey    269
126  United States        Luge      9
127  United States     Skating    179
128  United States      Skiing     98

In [ ]:
stacked_top_6 = top_6.pivot(index='Sport', columns='Country', values='total').reset_index()
stacked_top_6

In [ ]:
stacked_top_6 = stacked_top_6.fillna(0)
stacked_top_6.iloc[:,1:] = stacked_top_6.iloc[:,1:].astype(int)
stacked_top_6

In [ ]:
stacked_top_6.to_csv('stacked_country.csv', index=False)

In [ ]:
# create json file

# ad = data.groupby(['Year', 'Country', 'Medal']).size().reset_index(name='total')
# ad = ad.pivot(index=['Year', 'Country'], columns='Medal', values='total').reset_index()
# ad.fillna(0, inplace=True)
# ad.iloc[:,2:] = ad.iloc[:,2:].astype(int)
# ad['Total'] = ad.Bronze + ad.Gold + ad.Silver
# ad.Year = ad.Year.astype(str)

# year_dic = {}
# for i in ad.Year.unique():
#     year_list = ad[ad.Year==i].iloc[:,1:].values.tolist()
    
#     c_list = []
#     for j in year_list:
#         c_dic = {}
#         c_dic[j[0]] = {'bronze':j[1],'silver':j[2],'gold':j[3],'total':j[4]}
#         c_list.append(c_dic)
#     year_dic[i] = c_list

# year_json = json.dumps(year_dic)
# with open('year_dic.json', 'w') as f:
#     json.dump(year_json, f)

In [ ]:
# y = data.groupby(['Country', 'Sport']).size().reset_index(name='total')
# y = y.pivot(index='Country', columns='Sport', values='total').reset_index()
# y.fillna(0, inplace=True)
# y.iloc[:,1:] = yb.iloc[:,1:].astype(int)
# y.to_csv('sports_without_index.csv')